/* Estilo para la página de login */
body, html {
    overflow-x: hidden;  /* Asegura que no haya scroll horizontal en toda la página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page {
    font-family: 'Poppins', sans-serif;
    background: url('../images/blur.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding-top: 80px; /* Ajusta la distancia desde la parte superior */
}
/* Contenedor para el logo y el título */
.logo-title-container {
    display: flex;
    flex-direction: column; /* Coloca el logo y el título uno debajo del otro */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Ajusta el espacio debajo del contenedor */
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el logo y el título */
}

.logo img {
    max-width: 250px; /* Ajusta el tamaño del logo */
}



/* Título */
.title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #e00037;
    padding-bottom: 10px;
    width: 250px; /* Ancho del título con la línea */
    margin: 0 auto; /* Centra el título horizontalmente */
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;
}
/* Caja de login */
.login-box {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  
    color: white;
}

/* Contenedor del grupo de formularios */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

/* Input */
.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
    transition: border-bottom 0.3s ease-in-out;
}

/* Efecto de hover en el input */
.form-control:focus {
    border-bottom: 2px solid #e00037;
    outline: none;
}

/* Etiqueta flotante */
.floating-label {
    position: absolute;
    top: 10px; /* Inicialmente está dentro del input */
    left: 0;
    font-size: 16px;
    color: #cccccc;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

/* Mover la etiqueta cuando el input tiene foco o contenido */
.form-control:focus + .floating-label,
.form-control:not(:placeholder-shown) + .floating-label {
    top: -20px; /* Mueve la etiqueta hacia arriba */
    font-size: 12px; /* Reduce el tamaño de la etiqueta */
    color: #f8f5f6; /* Cambia el color de la etiqueta */
}

/* Cambiar el color del asterisco (*) */
label .required {
    color: #e00037; /* Cambiar este color al que desees */
}


/* Estilo para el botón de login */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #e00037;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #ff6699;
}

/* Estilo para el link de "Olvidaste tu contraseña" */
.forgot-link {
    display: block;
    margin-top: 10px;
    color: #e00037;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

/* Checkbox */
.checkbox label {
    font-size: 14px;
    color: #999;
}
/* Sección de "Registrarse ahora" */
.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.register-link a {
    color: #e00037;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
/* Estilo para el mensaje de error */
.alert-danger {
    color: #ffffff; /* Texto blanco */
    background-color: #e00037; /* Fondo rojo */
    border: 1px solid #ff6699; /* Borde rojo más claro */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 3rem; /* Espacio debajo del mensaje */
    text-align: center; /* Centrar el texto */
}


/* Fondo de la página */
.custom-background {
    background-image: url('../images/IMAGEN-scaled-e1727837771908.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

/* Logo */
.logo-container1 {
    text-align: center;
    margin-top: 20px;
}

.logo1 {
    margin-bottom: 50px;
    height: 80px;
}

/* Contenedor del selector centrado */
.selector-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Espacio hacia el logo */
    margin-bottom: 20px; /* Espacio antes de las tarjetas */
}

/* Contenedor del select y botón */
.location-selector {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 5px;
    flex-wrap: nowrap;
}

/* Ícono de ubicación */
.location-selector i {
    font-size: 18px;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilo del select */
.location-selector select {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    padding: 8px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Flecha del select */
.location-selector select::-ms-expand {
    display: none;
}

/* Botón de "Entrar" */
.location-selector .btn-location {
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.location-selector .btn-location:hover {
    background-color: #e63946;
}
.swiper-container {
    width: 100%;
    height: auto;
    padding: 20px 0;
    overflow: hidden;  /* Evita el desbordamiento horizontal */
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

/* Ajusta el gap entre las tarjetas en general */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;              /* Asegura que el contenedor ocupe el 100% del espacio disponible */
    max-width: 1200px;         /* Establece un ancho máximo para pantallas grandes */
    margin: 0 auto;            /* Centra el contenedor horizontalmente */
}


.card {
    width: 24rem; /* Tamaño de las tarjetas */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar el texto dentro de la tarjeta */
}

.card img {
    width: 100%;
    height: 28rem;
}

.card-content {
    position: absolute;  /* Posiciona el contenido de la tarjeta de manera absoluta */
    top: 10px;           /* Ajusta la distancia desde la parte superior */
    left: 10px;          /* Ajusta la distancia desde la parte izquierda */
    color: white;        /* Texto en color blanco */
    z-index: 2;          /* Asegura que el texto esté sobre la imagen */
    text-align: left;    /* Alinea el texto a la izquierda */
}
.card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;    /* Negrita para el título */
}

.card p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 400;    /* Peso normal para el texto descriptivo */
}

.card-link {
    text-decoration: none;
    color: inherit;
}
.footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;  /* Fija el footer en la parte inferior de la ventana */
    bottom: 0;
    left: 0;
    width: 100%;       /* Asegura que ocupe todo el ancho */
    z-index: 100;   
    background-color: #1a1a1a;
    font-family: "Work Sans", sans-serif;
    padding: 20px 0;   /* Asegura que esté sobre otros elementos */
}





/* Estilos para la barra de navegación superior negra */
.navbar-top {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 0;
}

/* Botón PUBLICATE */
.btn-publish {
    background-color: #e00037;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-publish:hover {
    background-color: #ff6699;
}

/* Dropdown de ubicación */
.location-dropdown {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 15px; 
}
.location-dropdown img.location-icon {
    width: 20px; /* Ajusta el tamaño del icono */
    height: auto;
    margin-right: 5px; /* Espaciado entre el icono y el select */
    color: #f8f5f6;
    filter: invert(100%);
}
.location-dropdown select {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Estilos de los botones de ACCEDER, REGISTRARSE o NOMBRE/SALIR */
.btn-login, .btn-register, .btn-user, .btn-logout {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;  /* Tamaño reducido del padding */
    font-size: 12px;    /* Tamaño de la fuente más pequeño */
    cursor: pointer;
    margin-left: 10px;  /* Espaciado entre los botones */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-register {
color: #cccccc;
}

.btn-login:hover, .btn-register:hover, .btn-user:hover, .btn-logout:hover {
    background-color: #ff6699;
}

/* Estilo para el formulario de logout */
.logout-form {
    margin-left: 15px; 
}
.navbar-right {
    display: flex;
    align-items: center;  /* Alinea verticalmente todos los elementos */
    opacity: .75;
}


/* Para asegurar que el texto se vea siempre pequeño */
.btn-login, .btn-register {
    font-size: 12px;
}
.btn-login{
    background-color: white;
    color: #333;  /* Cambia el texto a oscuro cuando el fondo es blanco */
    outline: none; /* Elimina el borde de enfoque predeterminado */
}



/* Barra de navegación inferior */
.navbar-bottom {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    color: #333;
    border-bottom: 2px solid #ccc; /* Agrega un borde inferior */
    font-family: "Work Sans", sans-serif !important;
    font-size: .875rem;
    font-weight: normal;
    color: #000;
    height: 3rem;
 
}
/* Botón de Filtros */
.btn-filters {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

/* Alinear el ícono SVG y el texto */
.btn-filters .icon-filter {
    width: 16px; /* Ajusta el tamaño del ícono */
    height: 16px;
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

/* Cambiar el color del botón al hacer hover */
.btn-filters:hover {
    background-color: #e00037;
    color: white;
}

/* Cambiar el color del ícono SVG al hacer hover (opcional) */
.btn-filters:hover .icon-filter {
    filter: invert(100%); /* Cambia el ícono a blanco en hover */
}

.navbar-nav .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #333;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  
    color: #fff;
}

/* Ajuste general de enlaces en la barra de navegación */
.nav-link {
    font-weight: bold;
    color: #333;
}

/* Logo */
.navbar-left {
    display: flex;
    align-items: center;
  
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 300px;
}

.search-bar .btn-search {
    background-color: #e00037;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    height: 100%; /* Asegurar que el botón esté alineado verticalmente */

}
.search-bar .btn-search .search-icon {
    width: 16px; /* Ajusta el tamaño del ícono */
    height: 16px;
    filter: invert(100%); /* Cambia el color del SVG de negro a blanco */
}

.search-bar .btn-search:hover .search-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(-20deg); /* Cambia el color en hover */
}
.search-bar .btn-search i {
    font-size: 16px;
}

/* Enlaces de navegación */
.navbar-right .nav-link {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
/* Select de categorías estilo limpio */
.navbar-right select#categorias {
    border: none;
    background-color: transparent; /* Elimina el fondo */
    font-weight: bold;
    color: #333;
    cursor: pointer;
    appearance: none; /* Elimina la flecha por defecto del select */
    -webkit-appearance: none; /* Compatibilidad con WebKit */
    -moz-appearance: none; /* Compatibilidad con Firefox */
    padding: 5px 10px; /* Ajusta el padding */
}

.navbar-right select#categorias:focus {
    outline: none; /* Elimina el contorno al enfocarse */
}

/* Para agregar una flecha personalizada o eliminarla por completo */
.navbar-right select#categorias::after {
    content: ""; /* Elimina la flecha nativa del select */
}


.logo img {
    height: 40px; /* Ajusta el tamaño del logo */
    margin-right: 50px;
    margin-top: 3.8rem;
}
.logo2 {
  
    height: 30px;
}
.logo2c{
    padding: 10px;
}



   /* Estilo general del footer */

/* Sección superior: enlaces de ubicación */
.footer-top {
    padding: 20px 0;
    border-bottom: 1px solid #4e4e4e;
}


.footer-title {
    color: #fff;
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-left: 0; /* Eliminamos márgenes adicionales */
    padding-left: 0; /* Eliminamos el padding */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineamos el título y las ciudades a la izquierda */
    max-width: 1200px;
    margin: 0 auto;
}
/* Alinear las listas de ubicaciones */
.locations-grid {
    display: flex;
    justify-content: flex-start; /* Alinear las columnas hacia la izquierda */
    flex-wrap: wrap;
    max-width: 1200px;
    padding-top: 10px; /* Espacio entre el título y las ubicaciones */
    border-top: 1px solid #4e4e4e; /* Línea debajo del título */
}

.locations-grid ul {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
    flex-basis: auto;  /* Ajuste del ancho de cada columna */
    text-align: left; /* Alineación del contenido dentro de la columna a la izquierda */

}

.locations-grid ul li {
    margin-bottom: 5px;
}

.locations-grid ul li a {
    color: #fff;
    font-weight: 300; /* Letra más fina */
    font-size: 0.875rem; /* Letra más pequeña para las ubicaciones */
    text-decoration: none;
    transition: color 0.3s ease;
}

.locations-grid ul li a:hover {
    color: #ff3366;
}

/* Sección de enlaces en la parte media */
.footer-middle {
    padding: 20px 0;
    text-align: center;
}

.footer-middle .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-middle .link-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px; /* Controlamos el ancho máximo */
    margin-bottom: 10px; /* Espacio entre las filas */
}
/* Estilo para el footer inferior */
.custom-footer-bottom {
    text-align: center;
    padding: 20px 0;
}

/* Estilo para el logo centrado */
.custom-footer-logo {
    margin-bottom: 20px; /* Espacio entre el logo y los enlaces */
}

.custom-logo-footer {
    max-width: 150px; /* Ajustar el tamaño del logo */
}

/* Enlaces distribuidos en tres filas */
.custom-footer-middle {
    margin-bottom: 20px; /* Espacio entre los enlaces y las redes sociales */
}

.custom-footer-middle .custom-links {
    display: flex;
    align-items: center;
}

.custom-footer-middle .custom-link-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.custom-footer-middle .custom-link-row a {
    color: #d1d4db;
    text-decoration: none;
    font-size: 1rem;
    margin: 15px; /* Espacio entre los enlaces */
    text-align: left;

}

.custom-footer-middle .custom-link-row a:hover {
    color: #ff3366;
}

/* Redes sociales centradas */
.custom-social-links {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los iconos */
}

.custom-social-links a {
    display: inline-block;
    background-color: #ff3366; /* Color de fondo para los botones de redes sociales */
    width: 50px; /* Tamaño del botón */
    height: 50px;
    border-radius: 50%; /* Hacer el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición para el hover */
}
.custom-social-links a:hover {
    background-color: #ff6699; /* Cambiar color de fondo al pasar el mouse */
    transform: scale(1.1); /* Efecto de aumento al hacer hover */
}
.custom-social-icon {
    width: 24px; /* Ajuste del tamaño del ícono dentro del botón */
    height: 24px;
    filter: invert(100%); /* Cambiar color del ícono a blanco */
}

.custom-social-icon:hover {
    transform: scale(1.2); /* Aumentar el tamaño en hover */
}
.custom-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-middle .links a:hover {
    color: #ff3366;
}

/* Sección inferior: logo y redes sociales */
.footer-bottom {
    padding: 20px 0;
    text-align: center;
}

.footer-bottom .footer-logo {
    margin-bottom: 20px;
}

.footer-bottom .footer-logo img {
    height: 40px;
}

.footer-bottom .social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
}

.footer-bottom .social-links a:hover {
    color: #ff3366;
}

/* Sección de derechos reservados */
.footer-info {
    background-color: #111;
    padding: 10px 0;
    font-size: 0.875rem;
    border-top: 1px solid #4e4e4e;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info .splazk-logo {
    height: 20px;
    vertical-align: middle;
}
/* INCIO  */
/* Estilo para el contenedor del banner */
.banner {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta la altura según tu preferencia */
    overflow: hidden;
    margin-top: 0; /* Para que esté pegado al borde superior */
}

.banner-img {
    width: 100%;
    object-fit: cover; /* Hace que la imagen se ajuste sin distorsionar */
    height: 12rem;
}

.banner-content {
    position: relative;
    bottom: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    height: 13rem;
    width: 100%;
    background: #00000047;

}

.banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.banner-content .highlight {
    color: #f25555; /* Color destacado */
}
.texto_banner{
    display: flex;
}